.menu{background-color:black;
    width:100%;
    height:60px;
}

.menu li{
    float:left;
    list-style:none;
    line-height:60px;
    padding-right:90px;
    color:black;
}

main{
    clear:both;
}

.main-container{
    width:95%;
    margin:0 auto;
    margin-top:70px;
}

.left{
    float:left;
    width:70%;
    margin-left:20px;
}

h1{border-left:5px solid black;
    border-bottom:3px solid black;
}

form{margin: 0 auto;
    background-color:#fbfbfb;
    border: 3px #ebebeb solid;
    border-radius:10px;
    width:500px;
}

form div{
    padding:15px;
}

.text,textarea{
    border:1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background:#fff;
}

.submit{
    border:1px solid lightgray;
    padding:4px 10px;
    color:white;
    background-color:#bfbfbf;
    border-radius:5px;
    border-bottom:solid 2px gray;
}

.box1{
    width:100%;
    background-color:lightgray;
    text-align:center;
    margin-bottom:20px;
}


.box2{
    width:100%;
    background-color:lightgray;
    text-align:center;
    margin-bottom:20px;
}

.right{
    float:left;
    width:20%;
    margin-left:40px;
}

h2{
    border-bottom:2px dotted black;
}

footer{
    clear:left;
    margin-top:60px;
    width:100%;
    height:60px;
    color:white;
    background-color:black;
    text-align:center;
    line-height:60px;
}